<div class="left-menu">
  <div class="left-menu__category">
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> tune </span>
      </div>
      <div class="category-item__label">Adjust</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> filter_vintage </span>
      </div>
      <div class="category-item__label">Effects</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> title </span>
      </div>
      <div class="category-item__label">Text</div>
    </div>
  </div>

  <div class="left-menu__category-content">
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> home </span>
      </div>
      <div class="category-item__label">Effect 1</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> home </span>
      </div>
      <div class="category-item__label">Effect 2</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> home </span>
      </div>
      <div class="category-item__label">Effect 3</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> home </span>
      </div>
      <div class="category-item__label">Effect 4</div>
    </div>
  </div>
</div>
