<div class="left-menu">
  <div class="left-menu__category">
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> tune </span>
      </div>
      <div class="category-item__label">Adjust</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> filter_vintage </span>
      </div>
      <div class="category-item__label">Effects</div>
    </div>
    <div class="category-item">
      <div class="category-item__icon">
        <span class="material-symbols-outlined"> title </span>
      </div>
      <div class="category-item__label">Text</div>
    </div>
  </div>

  <div class="left-menu__category-content">
    <div
      *ngFor="let filter of imageFilters"
      class="category-item"
      [matTooltip]="getFilterTooltipContent(filter)"
      [matTooltipDisabled]="isFilterTooltipDisabled(filter)"
      (click)="applyFilter(filter)"
    >
      <div class="category-item__purchased-required" *ngIf="filter.purchaseRequired">
        <span class="badge rounded-pill text-bg-warning">
          <fa-icon [icon]="vipIcon"></fa-icon>
          VIP
        </span>
      </div>
      <div class="category-item__filter-preview" [ngClass]="{ 'category-item__filter-preview__active': filter.active }">
        <img class="category-item__preview" src="assets/images/filters/{{ filter.name }}.jpg" alt="{{ filter.name }}" />
      </div>
      <div class="category-item__label">{{ filter.displayName }}</div>
    </div>
  </div>
</div>
