<!-- Nav tabs -->
<div class="left-menu">
  <ul class="nav nav-pills flex-column left-menu__category" id="myTab" role="tablist">
    <li class="nav-item category-item" role="presentation">
      <button
        class="nav-link active"
        id="effects-tab"
        data-bs-toggle="tab"
        data-bs-target="#effects"
        type="button"
        role="tab"
        aria-controls="effects"
        aria-selected="true"
      >
        <fa-icon [icon]="effectIcon" [size]="'xl'" class="category-item__icon"></fa-icon>
        <div class="category-item__label">Effects</div>
      </button>
    </li>
    <li class="nav-item category-item" role="presentation">
      <button
        class="nav-link"
        id="adjust-tab"
        data-bs-toggle="tab"
        data-bs-target="#adjust"
        type="button"
        role="tab"
        aria-controls="adjust"
        aria-selected="false"
      >
        <fa-icon [icon]="adjustIcon" [size]="'xl'" class="category-item__icon"></fa-icon>
        <div class="category-item__label">Adjust</div>
      </button>
    </li>
    <li class="nav-item category-item" role="presentation" *ngIf="isFileUploaded && currentUser.id">
      <button
        class="nav-link"
        id="save-tab"
        data-bs-toggle="tab"
        data-bs-target="#save"
        type="button"
        role="tab"
        aria-controls="save"
        aria-selected="false"
      >
        <fa-icon [icon]="saveProjectIcon" [size]="'xl'" class="category-item__icon"></fa-icon>
        <div class="category-item__label">Save</div>
      </button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content left-menu__category-content">
    <div class="tab-pane active" id="effects" role="tabpanel" aria-labelledby="effects-tab">
      <div class="left-menu__effects-container">
        <div
          *ngFor="let filter of imageFilters"
          class="category-item"
          [matTooltip]="getFilterTooltipContent(filter)"
          [matTooltipDisabled]="isFilterTooltipDisabled(filter)"
          (click)="applyFilter(filter)"
        >
          <div class="category-item__purchased-required" *ngIf="filter.purchaseRequired">
            <span class="badge rounded-pill text-bg-warning">
              <fa-icon [icon]="vipIcon"></fa-icon>
              VIP
            </span>
          </div>
          <div
            class="category-item__filter-preview"
            [ngClass]="{ 'category-item__filter-preview__active': filter.active }"
          >
            <img
              class="category-item__preview"
              src="assets/images/filters/{{ filter.name }}.jpg"
              alt="{{ filter.name }}"
            />
          </div>
          <div class="category-item__label">{{ filter.displayName }}</div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="adjust" role="tabpanel" aria-labelledby="adjust-tab">adjust</div>
    <div class="tab-pane" id="save" role="tabpanel" aria-labelledby="save-tab">
      <div class="left-menu__save-project__container">
        <div class="mb-3">
          <label for="projectName" class="form-label left-menu__save-project__input-label">Project Name</label>
          <input
            #projectNameInput
            type="text"
            class="form-control"
            [ngClass]="{ 'left-menu__save-project__input-error': !projectNameInput.value }"
            name="projectName"
            id="projectName"
            aria-describedby="helpId"
            [(ngModel)]="projectName"
          />
          <small *ngIf="!projectNameInput.value" id="helpId" class="form-text text-danger">
            Project name is mandatory
          </small>
        </div>

        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" (click)="saveProjectToCloud()">Save to cloud</button>
        </div>
      </div>
    </div>
  </div>
</div>
