.user-avatar {
  background: #fff;
}

.wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.user-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;

  &-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;

    &__main {
      width: 100px;
      height: 100px;
    }
  }
}

.user-info {
  &__display-name {
    font-size: 32px;
    font-weight: 700;
    color: #1e1e1e;
    display: flex;
    align-items: center;
  }

  &__email {
    font-size: 18px;
    margin-top: 16px;
  }
}

.personal-info {
  &__tabs {
    background: #fff;
  }
  &__container {
    background: #f2f2f2;
    padding: 32px;
  }

  &__content {
    background: #fff;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  }

  &__form {
    &-name {
      padding: 32px;
      font-size: 20px;
      font-weight: 700;
      color: #1e1e1e;
    }

    &-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 16px;
      height: 80px;
      padding: 0px 32px;
      border-bottom: 1px solid #f2f2f2;

      &__left-part {
      }
      &__right-part {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 8px;
      }
      &__label {
        color: #909090;
      }
      &__value {
        color: #1e1e1e;
        margin-top: 4px;
        text-align: left;
        font-size: 16px;
        font-weight: 700;

        &-editing {
          font-weight: 700;
          padding: 8px;
          line-height: 1rem;
          border: 1px solid #909090;
          border-radius: 4px;
        }
      }
    }
  }
}

.subscription {
  &__container {
    padding: 64px 32px;
    width: 100%;
    background: #f2f2f2;
  }

  &__no-subscription {
    &__container {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
    }

    &__upgrade-img {
      width: 40%;

      img {
        max-width: 100%;
      }
    }

    &__upgrade-content {
      width: calc(60% - 50px);
    }

    &__content-label {
      color: #1e1e1e;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &__content-message {
      color: #959595;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }

  &__subscription-list {
    &__container {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
    }

    &__item {
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 16px;
      background: linear-gradient(135deg, rgba(255, 252, 206, 1) 0%, rgba(255, 179, 48, 1) 100%);
      opacity: 0.6;

      &-active {
        background: url("/assets/images/upgrade-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
      }

      &-label {
        font-size: 24px;
        color: #1e1e1e;
        font-weight: 700;
        margin-bottom: 16px;
      }

      &-price {
        font-size: 20px;
        color: #1e1e1e;
        font-weight: 500;
        margin-bottom: 16px;
      }

      &-expiration {
        font-size: 16px;
        color: #959595;
        font-weight: 500;
      }
    }
  }
}
