<app-header></app-header>
<main class="content-container">
  <app-side-menu class="side-menu" [isFileUploaded]="isFileUploaded"></app-side-menu>
  <div class="content">
    <ng-container *ngIf="!isFileUploaded">
      <app-file-upload></app-file-upload>
    </ng-container>
    <div class="image-container" [ngClass]="{ hidden: !isFileUploaded }">
      <!-- Display image here -->
      <!-- <canvas #imageContainer> </canvas> -->
      <img alt="IMG" #imageContainer />
    </div>
  </div>
</main>

<router-outlet />
