.required::after {
  content: "*";
  color: #f24a63;
}

.change-password-popup {
  &__container {
    padding: 32px;
    max-width: 600px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__form {
    &-label {
      font-size: 32px;
      font-weight: 700;
      padding: 32px 32px 32px 0;
    }

    &-input {
      &__red-border {
        border: 2px solid #f24a63 !important;
      }
      &-label {
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-message {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 32px;
      color: #909090;
    }

    &-button {
      margin-top: 32px;

      &-eye {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
      }
    }
  }
}
