<mat-toolbar class="header">
  <div class="header__left-part">
    <div class="header__logo-container">
      <img
        src="assets/images/generic-avatar.png"
        alt="LOGO"
        srcset=""
        class="header__logo"
      />
    </div>
    <div class="header__logo-name">NAME</div>
  </div>
  <div class="header__right-part">
    <div class="header__user-avatar-container">
      <img
        src="assets/images/generic-avatar.png"
        alt="AVATAR"
        srcset=""
        class="header__user-avatar"
      />
    </div>
  </div>
</mat-toolbar>
