.header {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1f22;

  &__left-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }

  &__right-part {
  }

  &__logo {
    width: 40px;
    height: 40px;

    &-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    &-name {
      color: #fff;
    }
  }

  &__user-avatar {
    width: 40px;
    height: 40px;

    &-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__login {
    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 16px;
    }

    &-button {
      background: #436ccb !important;
      color: #ffffff !important;
    }
  }

  &__signup-button {
    color: #ffffff !important;
  }
}

.menu-container {
  padding: 8px 16px;
}

.menu-user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &__avatar {
    width: 40px;
    height: 40px;

    &-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__nickname-email-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 8px;
  }

  &__email {
    color: #909090;
  }
  &__nickname {
    color: #1e1e1e;
  }
}

.my-account,
.my-projects,
.sign-out {
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;

  &:hover {
    color: #436ccb;
    background: #f2f2f2;
  }
}

.divider {
  margin: 0 0 4px 0;
  border-bottom: 1px solid #f2f2f2;
  padding: 4px 0 0 0;
}
