<mat-toolbar class="header">
  <div class="header__left-part">
    <div class="header__logo-container">
      <img src="assets/images/photo-editor-logo.png" alt="LOGO" srcset="" class="header__logo" />
    </div>
    <div class="header__logo-name">Photo Editor</div>
  </div>
  <div class="header__right-part">
    <button
      mat-raised-button
      class="header__download-button"
      [ngClass]="{ 'header__download-button__disabled': !isFileUploaded }"
      [disabled]="!isFileUploaded"
      (click)="onDownloadImage()"
    >
      <fa-icon [icon]="downloadIcon"></fa-icon>
      <span class="header__download-button__text">Download</span>
    </button>

    <div class="header_login-container" *ngIf="!isUserLoggedIn">
      <button mat-stroked-button class="header__signup-button" (click)="onSignup()">Sign up</button>
      <button mat-raised-button class="header__login-button" (click)="onLogin()">Sign in</button>
    </div>

    <div class="header__user-avatar-container" *ngIf="isUserLoggedIn">
      <img
        src="assets/images/generic-avatar.png"
        alt="AVATAR"
        srcset=""
        class="header__user-avatar"
        [matMenuTriggerFor]="menu"
      />
      <mat-menu #menu="matMenu">
        <div class="menu-container">
          <div class="menu-user-info">
            <div class="menu-user-info__avatar-container">
              <img src="assets/images/generic-avatar.png" class="menu-user-info__avatar" />
            </div>
            <div class="menu-user-info__nickname-email-wrapper">
              <div class="menu-user-info__nickname">{{ user.displayName }}</div>
              <div class="menu-user-info__email">{{ user.email }}</div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="my-account" (click)="onNavToAccount()">My Accounts</div>
          <div class="my-projects" (click)="onNavToProjects()">My Projects</div>
          <div class="divider"></div>
          <div class="sign-out" (click)="onSignOut()">Sign out</div>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
