<main class="content-container">
  <app-side-menu class="side-menu" [isFileUploaded]="isFileUploaded"></app-side-menu>
  <div class="content">
    <ng-container *ngIf="!isFileUploaded">
      <app-file-upload></app-file-upload>
    </ng-container>
    <div class="image-container" [ngClass]="{ hidden: !isFileUploaded }">
      <!-- Display image here -->
      <!-- <canvas #imageContainer> </canvas> -->
      <div class="image-container__wrapper">
        <img alt="IMG" class="image-container__image" #imageContainer />
      </div>
      <div class="image-container__image-size-container">
        <div class="image-container__image-size">{{ imageSize }}</div>
        <div class="image-container__divider"></div>
        <div class="image-container__zoom-ratio-control">
          <div class="image-container__zoom-button" (click)="zoomOut()">
            <fa-icon [icon]="zoomOutIcon" size="sm"></fa-icon>
          </div>
          <div class="image-container__zoom-ratio">{{ zoomRatio }}%</div>
          <div class="image-container__zoom-button" (click)="zoomIn()">
            <fa-icon [icon]="zoomInIcon" size="sm"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
